<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>scriptarium.auto-wallpaper</string>
    <key>ProgramArguments</key>
    <array>
        <string>PYTHON_PATH</string>
        <string>PY_SCRIPT_PATH</string>
        <string>WALLPAPER_DIR_PATH</string>
        <string>LOG_FILE_PATH</string>
        <string>--verbose</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>